{%- comment -%}
    passing the following arguments

    -settings
{%- endcomment -%}

<footer class="footer">
    <div class="footer__div">
        <div class="footer__menu">
            <ul class="footer__menu-list">
            {% for link in linklists.main-menu.links %}
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href= "{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="footer__contact">
            <div class="footer__contact-item">
                <div class="footer__contact-item-child">
                    <span>{{ settings.location_text }}</span>
                </div>
                <div class="footer__contact-item-child">
                    <span>{{ settings.phone_text }}</span>
                </div>
                <div class="footer__contact-item-child">
                    <span>{{ settings.world_text }}</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <span class="copyright__text">Copyright &copy; {{ settings.copyright_text }}</span>
</div>