<section class="journey">
    <div class="journey__div">
        <div class="journey__img">
            <img src="{{ settings.journey_img | img_url: 'master' }}" alt="Journey image">
        </div>
        <div class="journey__right">
            <h2 class="journey__title">{{ settings.journey_title }}</h2>
            <h4 class="journey__heading">{{ settings.journey_heading }}</h4>
            <span class="journey__text">{{ settings.journey_text }}</span>
            <a href="{{ settings.link_url }}" class="journey__link">{{ settings.link_text }}</a>
        </div>
    </div>
</section>